// Footer ======================
.footer {
    padding: 40px 0 72px;
    background: #E9DED4;

    &_txt {
        font-family: 'Golos Text';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #313131;
        opacity: 0.6;

    }
}